<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
        
<body>  
    <div ng-controller="myController">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h2 id="welcomeText">Welcome. You are Logged In as
            <%= username %>
        </h2>
        </div>
        <div class="panel-body">
        <a id="logoutLink" href="/logout">Logout</a>
        <a id="editLink" href="/user">Edit User</a>
    
    <hr>
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr>
    <span id="colorText">
    Color
        <%= color %>
      </span>
    </div>
    </div>
    </div>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>
