body {
  padding: 50px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 150%;
}

a {
  color: #00B7FF;
  font-size : 150%;
}

.userInfo{
  padding : 25px;
}

#logoutLink{
  margin-right : 80px;
}